@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --sidebar: #EAF4F4;
  --card: #FFFFFF;
  --primary: #7FB3D5;
  --secondary: #A8D8B9;
  --accent: #F7C8A0;
  --lavender: #CDB4DB;

  --text-main: #243447;
  --text-secondary: #5B6B7A;

  --border: #D9E2EC;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    /* gray-900 */
    --foreground: #f9fafb;
    /* gray-50 */
  }
}

body {
  color: #0f172a;
  background: var(--background);
  font-family: var(--font-jakarta), sans-serif;
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}